numpy==2.1.3
pandas==2.2.3
scikit-learn==1.6.1
scipy==1.15.2
tqdm
torch
torchvision
torchaudio
torchtext
lightgbm
xgboost
matplotlib
seaborn
transformers
datasets
torchmetrics
pytorch-lightning
sympy
timm
torchinfo
scikit-optimize
bayesian-optimization
opencv-python
gensim
plotly
Pillow
h5py
PyYAML
tokenizers
sentence-transformers
opt_einsum
optuna
peft